<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <title>reCAPTCHA demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<form action="#" th:action="@{/login}" method="post">
    User: <input name="username" type="text" value="" />
    <br />
    Password: <input name="password" type="password" value="" />
    <br />
    <div class="g-recaptcha" data-sitekey="6LfEQRETAAAAAMxkEr7RHrOE0XEUeeGUgcspSf2J"></div>
    <br />
    <input type="submit" value="Log in" />
</form>

</body>
</html>